{% load dicom_extras %}
{% load dicom_explorer_extras %}

<dl class="row card-body mb-0">
    <dt class="col-sm-3">Patient ID</dt>
    <dd class="col-sm-9">
        {{ patient.PatientID|default:"—" }}
        {% if level != "patient" %}
            {% build_patient_params server.id patient.PatientID as patient_params %}
            <a href="{% url 'dicom_explorer' %}?{{ patient_params }}">
                {% include "dicom_explorer/box_arrow_in_right.svg" %}
            </a>
        {% endif %}
    </dd>

    <dt class="col-sm-3">Patient Name</dt>
    <dd class="col-sm-9">{{ patient.PatientName|convert_dicom_person_name|title|default:"—" }}</dd>

    <dt class="col-sm-3">Birth Date</dt>
    <dd class="col-sm-9">{{ patient.PatientBirthDate|parse_dicom_date|date:"SHORT_DATE_FORMAT"|default:"—" }}</dd>

    <dt class="col-sm-3">Patient Sex</dt>
    <dd class="col-sm-9">{{ patient.PatientSex|default:"—" }}</dd>
</dl>