{% load explorer_url from dicom_explorer_extras %}

<table class="table">
    <caption>Series</caption>
    <thead>
        <tr>
            <th scope="col">Series Number</th>
            <th scope="col">Series Description</th>
            <th scope="col">Modality</th>
            <th scope="col"># Images</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for series in series_list %}
            {% explorer_url server.id patient.PatientID study.StudyInstanceUID series.SeriesInstanceUID as series_url %}
            <tr>
                <td>{{ series.SeriesNumber|default_if_none:"—" }}</td>
                <td>{{ series.SeriesDescription|default:"—" }}</td>
                <td>{{ series.Modality|default:"—" }}</td>
                <td>{{ series.NumberOfSeriesRelatedInstances|default_if_none:"—" }}</td>
                <td>
                    <a
                        href="{{ series_url }}"
                        title="{{ series.SeriesInstanceUID }}"
                        data-toggle="tooltip"
                        data-placement="left"
                    >
                        {% include "core/_box_arrow_in_right.svg" %}
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
