{% load bootstrap_icon from core_extras %}
{% load explorer_url from dicom_explorer_extras %}
<table class="table">
    <caption>Server</caption>
    <thead>
        <tr>
            <th scope="col">Server ID</th>
            <th scope="col">Server Name</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for server in servers %}
            <tr>
                <td>{{ server.id }}</td>
                <td>{{ server.name }}</td>
                <td>
                    {% explorer_url server.id as server_url %}
                    <a href="{{ server_url }}"
                       title="ID {{ study.id }}"
                       data-bs-toggle="tooltip"
                       data-bs-placement="left">{% bootstrap_icon "box-arrow-in-down-right" %}</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
