{% load bootstrap_icon from common_extras %}
{% load explorer_url from dicom_explorer_extras %}
<table class="table">
    <caption>Series</caption>
    <thead>
        <tr>
            <th scope="col">Series Number</th>
            <th scope="col">Series Description</th>
            <th scope="col">Modality</th>
            <th scope="col"># Images</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for series in series_list %}
            {% explorer_url server.id patient.PatientID study.StudyInstanceUID series.SeriesInstanceUID as series_url %}
            {% if server.xnat_rest_source %}
                {% append_xnat_query series_url request.GET.project_id request.GET.experiment_id as series_url %}
            {% endif %}
            <tr>
                <td>{{ series.SeriesNumber|default_if_none:"—" }}</td>
                <td>{{ series.SeriesDescription|default:"—" }}</td>
                <td>{{ series.Modality|default:"—" }}</td>
                <td>{{ series.NumberOfSeriesRelatedInstances|default_if_none:"—" }}</td>
                <td>
                    <a href="{{ series_url }}"
                       title="{{ series.SeriesInstanceUID }}"
                       data-bs-toggle="tooltip"
                       data-bs-placement="left">{% bootstrap_icon "box-arrow-in-down-right" %}</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
