<dl class="row card-body mb-0">
    <dt class="col-sm-3">Series Instance UID</dt>
    <dd class="col-sm-9">
        {{ series.SeriesInstanceUID }}
    </dd>
    <dt class="col-sm-3">Series Number</dt>
    <dd class="col-sm-9">
        {{ series.SeriesNumber|default_if_none:"—" }}
    </dd>
    <dt class="col-sm-3">Series Description</dt>
    <dd class="col-sm-9">
        {{ series.SeriesDescription|default:"—" }}
    </dd>
    <dt class="col-sm-3">Modality</dt>
    <dd class="col-sm-9">
        {{ series.Modality|default:"—" }}
    </dd>
    <dt class="col-sm-3"># Images</dt>
    <dd class="col-sm-9">
        {{ series.NumberOfSeriesRelatedInstances|default_if_none:"—" }}
    </dd>
</dl>
