{% load combine_datetime exclude_from_list from core_extras %}
{% load explorer_url from dicom_explorer_extras %}

<table class="table">
    <caption>Studies</caption>
    <thead>
        <tr>
            <th scope="col">Accession Number</th>
            <th scope="col">Study Description</th>
            <th scope="col">Study Date/Time</th>
            <th scope="col">Modality</th>
            <th scope="col"># Images</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for study in studies %}
            <tr>
                <td>{{ study.AccessionNumber|default:"—" }}</td>
                <td>{{ study.StudyDescription|default:"—" }}</td>
                {% combine_datetime study.StudyDate study.StudyTime as study_datetime %}
                <td>{{ study_datetime|date:"SHORT_DATETIME_FORMAT" }}</td>
                {% exclude_from_list study.ModalitiesInStudy "SR" "PR" as modalities %}
                <td>{{ modalities|join:", "|default:"—" }}</td>
                <td>{{ study.NumberOfStudyRelatedInstances|default_if_none:"—" }}</td>
                <td>
                    {% explorer_url server.id patient.PatientID study.StudyInstanceUID as study_url %}
                    <a
                        href="{{ study_url }}"
                        title="{{ study.StudyInstanceUID }}"
                        data-toggle="tooltip"
                        data-placement="left"
                    >
                        {% include "dicom_explorer/box_arrow_in_right.svg" %}
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>