{% load explorer_url from dicom_explorer_extras %}
{% load combine_datetime from core_extras %}

<dl class="row card-body mb-0">
    <dt class="col-sm-3">Study Instance UID</dt>
    <dd class="col-sm-9">
        {{ study.StudyInstanceUID }}
        {% if level != "study" %}
            {% explorer_url server.id patient.PatientID study.StudyInstanceUID as study_url %}
            <a href="{{ study_url }}">
                {% include "dicom_explorer/box_arrow_in_right.svg" %}
            </a>
        {% endif %}
    </dd>

    <dt class="col-sm-3">Accession Number</dt>
    <dd class="col-sm-9">{{ study.AccessionNumber|default:"—" }}</dd>

    <dt class="col-sm-3">Study Date/Time</dt>
    {% combine_datetime study.StudyDate study.StudyTime as study_datetime %}
    <dd class="col-sm-9">{{ study_datetime|date:"SHORT_DATETIME_FORMAT" }}</dd>

    <dt class="col-sm-3">Study Description</dt>
    <dd class="col-sm-9">{{ study.StudyDescription|default:"—" }}</dd>

    <dt class="col-sm-3">Modalities</dt>
    <dd class="col-sm-9">{{ study.ModalitiesInStudy|join:", "|default:"—" }}</dd>

    <dt class="col-sm-3"># Images</dt>
    <dd class="col-sm-9">{{ study.NumberOfStudyRelatedInstances|default_if_none:"—" }}</dd>
</dl>