{% load dicom_extras %}

<dl class="row card-body mb-0">
    <dt class="col-sm-3">Study Instance UID</dt>
    <dd class="col-sm-9">{{ study.StudyInstanceUID }}

    <dt class="col-sm-3">Accession Number</dt>
    <dd class="col-sm-9">{{ study.AccessionNumber }}

    <dt class="col-sm-3">Study Date/Time</dt>
    {% parse_dicom_datetime study.StudyDate study.StudyTime as study_datetime %}
    <dd class="col-sm-9">{{ study_datetime|date:"SHORT_DATETIME_FORMAT" }}

    <dt class="col-sm-3">Study Description</dt>
    <dd class="col-sm-9">{{ study.StudyDescription|default:"—" }}

    <dt class="col-sm-3">Modalities</dt>
    <dd class="col-sm-9">{{ study.ModalitiesInStudy|default:"—" }}

    <dt class="col-sm-3"># Images</dt>
    <dd class="col-sm-9">{{ study.NumberOfStudyRelatedInstances|default:"—" }}
</dl>