{% load bootstrap_icon combine_datetime filter_modalities join_if_list from core_extras %}
{% load explorer_url from dicom_explorer_extras %}
<table class="table">
    <caption>Studies</caption>
    <thead>
        <tr>
            <th scope="col">Accession Number</th>
            <th scope="col">Study Description</th>
            <th scope="col">Study Date/Time</th>
            <th scope="col">Modalities</th>
            <th scope="col"># Images</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for study in studies %}
            <tr>
                <td>{{ study.AccessionNumber|default:"—" }}</td>
                <td>{{ study.StudyDescription|default:"—" }}</td>
                {% combine_datetime study.StudyDate study.StudyTime as study_datetime %}
                <td>{{ study_datetime|date:"SHORT_DATETIME_FORMAT" }}</td>
                {% filter_modalities study.ModalitiesInStudy as modalities %}
                <td>{{ modalities|join_if_list:", "|default:"—" }}</td>
                <td>{{ study.NumberOfStudyRelatedInstances|default_if_none:"—" }}</td>
                <td>
                    {% explorer_url server.id patient.PatientID study.StudyInstanceUID as study_url %}
                    <a href="{{ study_url }}"
                       title="{{ study.StudyInstanceUID }}"
                       data-bs-toggle="tooltip"
                       data-bs-placement="left">{% bootstrap_icon "box-arrow-in-down-right" %}</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
