{% extends "dicom_explorer/dicom_explorer_layout.html" %}
{% block title %}
    DICOM Explorer Patient Details
{% endblock title %}
{% block heading %}
    <c-page-heading>
    <c-slot name="title">
    DICOM Explorer
    <small class="text-muted">Patient Details</small>
    </c-slot>
    </c-page-heading>
{% endblock heading %}
{% block content %}
    <div class="card">{% include "dicom_explorer/_server_infos.html" %}</div>
    <div class="card mt-3">{% include "dicom_explorer/_patient_infos.html" %}</div>
    {% include "dicom_explorer/_studies_table.html" %}
{% endblock content %}
