{% extends "dicom_explorer/dicom_explorer_layout.html" %}
{% block title %}
    DICOM Explorer Patient List
{% endblock title %}
{% block heading %}
    <c-page-heading>
    <c-slot name="title">
    DICOM Explorer
    <small class="text-muted">Patient List</small>
    </c-slot>
    </c-page-heading>
{% endblock heading %}
{% block content %}
    {% if max_results_reached %}
        <div class="alert alert-warning mt-3" role="alert">Results limited to {{ patients|length|add:"-1" }} patients.</div>
    {% endif %}
    <div class="card">{% include "dicom_explorer/_server_infos.html" %}</div>
    {% include "dicom_explorer/_patients_table.html" %}
{% endblock content %}
