{% block modal_body %}
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Selective Transfer Help</h5>
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close" />
        </div>
        <div class="modal-body">
            <p>
                With the selective transfer form you can search a source server for studies
                and transfer them to a destination server or folder.
            </p>
            <p>
                You can choose an optional archive password to store the transferred data
                in an encrpyted 7z (https://7-zip.org) archive (max. 10 studies).
            </p>
        </div>
    </div>
{% endblock modal_body %}
