{% extends "sandbox/sandbox_layout.html" %}
{% load static from static %}
{% block script %}
    {{ block.super }}
    <script src="{% static 'sandbox/sandbox.js' %}"></script>
{% endblock script %}
{% block title %}
    Toast Sandbox
{% endblock title %}
{% block heading %}
    <h4 class="mb-3">Message Sandbox</h4>
{% endblock heading %}
{% block content %}
    <div x-data="toastSandbox()">
        <button @click="buttonClicked()" class="btn btn-primary">Show toast</button>
    </div>
{% endblock content %}
