{% extends "sandbox/sandbox_layout.html" %}
{% block title %}
    Sandboxes
{% endblock title %}
{% block heading %}
    <h4 class="mb-3">Sandboxes</h4>
{% endblock heading %}
{% block content %}
    <ul class="list-group">
        <li class="list-group-item">
            <a href="{% url 'sandbox_messages' %}">Messages</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'sandbox_toasts' %}">Toasts</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'sandbox_async_class_view' %}">Async class based view</a>
        </li>
    </ul>
{% endblock content %}
