x-app: &default-app
  build:
    target: development
  pull_policy: build
  environment:
    DJANGO_INTERNAL_IPS: ${DJANGO_INTERNAL_IPS:?}
    DJANGO_SETTINGS_MODULE: adit.settings.development
    FORCE_DEBUG_TOOLBAR: ${FORCE_DEBUG_TOOLBAR:-true}
    REMOTE_DEBUGGING_ENABLED: ${REMOTE_DEBUGGING_ENABLED:-false}
    REMOTE_DEBUGGING_PORT: ${REMOTE_DEBUGGING_PORT:-5678}
  develop:
    watch:
      - action: sync
        path: .
        target: /app
        ignore:
          - .git/
          - .venv/
          - node_modules/
      - action: rebuild
        path: ./pyproject.toml

services:
  init:
    <<: *default-app
    profiles:
      - never

  web:
    <<: *default-app
    image: adit_dev-web:latest
    ports:
      - ${WEB_DEV_PORT:-8000}:8000
      - ${REMOTE_DEBUGGING_PORT:-5678}:5678
    command: >
      bash -c "
        wait-for-it -s postgres.local:5432 -t 60 && 
        ./manage.py migrate &&
        ./manage.py create_superuser &&
        ./manage.py create_example_users &&
        ./manage.py create_example_groups &&
        ./manage.py populate_example_data &&
        wait-for-it -s orthanc1.local:6501 -t 60 &&
        ./manage.py populate_orthancs &&
        ./manage.py retry_stalled_jobs &&
        ./manage.py runserver 0.0.0.0:8000
      "
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health/"]

  default_worker:
    <<: *default-app
    image: adit_dev-default_worker:latest
    command: >
      bash -c "
        wait-for-it -s postgres.local:5432 -t 60 &&
        ./manage.py bg_worker -l debug -q default --autoreload
      "

  dicom_worker:
    <<: *default-app
    image: adit_dev-dicom_worker:latest
    command: >
      bash -c "
        wait-for-it -s postgres.local:5432 -t 60 &&
        ./manage.py bg_worker -l debug -q dicom --autoreload
      "

  receiver:
    <<: *default-app
    image: adit_dev-receiver:latest
    ports:
      - 11122:11112
    command: |
      ./manage.py receiver --autoreload

  postgres:
    environment:
      POSTGRES_PASSWORD: postgres
    ports:
      - ${POSTGRES_DEV_PORT:-5432}:5432

  orthanc1:
    ports:
      - "7501:7501"

  orthanc2:
    ports:
      - "7502:7502"

  openobserve:
    ports:
      - ${OPENOBSERVE_DEV_PORT:-5080}:5080

  otel-collector:
    ports:
      - "4317:4317"   # OTLP gRPC
      - "4318:4318"   # OTLP HTTP
      - "13133:13133" # Health check
