###
# Required in production, optional in development.
# In development only DJANGO_INTERNAL_IPS may be set
# when not working on localhost.
# Place copy to ./compose/.env.dev or ./compose/.env.prod
###
ADIT_AE_TITLE=ADIT1DEV
ADIT_SITE_DOMAIN=adit.test
ADIT_SITE_NAME=adit.test
ADMIN_EMAIL=wilhelm.roentgen@example.org
ADMIN_FIRST_NAME=Wilhelm
ADMIN_LAST_NAME=Roentgen
ADMIN_PASSWORD=mysecret
ADMIN_USERNAME=admin
BASE_URL=https://localhost
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=
DJANGO_EMAIL_HOST=smtp.email.test
DJANGO_INTERNAL_IPS=127.0.0.1
DJANGO_SECRET_KEY="4h&jq+lx(px#*+6meyi0v4jjkz44_=gzs^j^y-g5f_sxpu0e*n"
DJANGO_SERVER_EMAIL=adit.support@example.org
POSTGRES_PASSWORD=mysecret
SSL_HOSTNAME=localhost
SSL_IP_ADDRESSES=127.0.0.1
USER_TIME_ZONE=Europe/Berlin
FORCE_DEBUG_TOOLBAR=false
BACKUP_DIR=/mnt/backups
http_proxy=
HTTP_PROXY=
https_proxy=
HTTPS_PROXY=
no_proxy=
NO_PROXY=
