[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
### Testing
factory-boy = "*" 
faker = "*" 
pytest-django = "*" 
pytest-cov = "*" 
colorama = "*" # dependency for pytest-watch (must be installed separately because of a bug)
pytest-watch = "*" 
pytest-picked = "*" 
django-webtest = "*" 
time-machine = "*" 
### Code quality
black = "==20.8b1" # version must be fixed as only a prerelase is available, see https://github.com/psf/black/issues/209
pylint-django = "*" 
pylint-celery = "*" 
coverage = "*" 
### Debugging
django-extensions = "*"
django-debug-toolbar = "*"
django-debug-permissions = "*"
requests = "*"
ipython = "*"

[packages]
django = "*" 
psycopg2 = "*" 
channels = "*" 
whitenoise = "*" 
django-registration-redux = "*" 
django-crispy-forms = "*" 
django-tables2 = "*" 
django-bootstrap4 = "*" 
django-environ = "*" 
djangorestframework = "*" 
markdown = "*" # Markdown support for the browsable API
django-filter = "*" # Also used for filtering support for API
pydicom = "*" 
pynetdicom = "*" 
cchardet = "*" # To detect encoding of Batch CSV file
redis = "*" 
celery = "*" 
flower = "*" 
django-revproxy = "*" # To integrate flower directly in the ADIT site
django-loginas = "*" 
cryptography = "*" # For generating the SSL certificate in production
twisted = { extras = ["http2", "tls"], version = "*" }# For HTTP/2 support in production     
dicognito = "*" 
django-model-utils = "*" 
pylint-pytest = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
