<div class="card my-3">
  <div class="card-body p-2">
    <div class="card-title mb-0">
        <button
            @click.prevent=""
            class="btn btn-link" data-toggle="collapse"
            href="#advancedOptions"
            aria-expanded="false"
            aria-controls="advancedOptions"
        >
            <template x-if="advancedOptionsCollapsed"><span>+</span></template>
            <template x-if="!advancedOptionsCollapsed"><span>-</span></template>
            <span>
                Advanced Transfer Options
            </span>
        </button>
    </div>
    <div x-ref="advancedOptions" id="advancedOptions" class="mt-3 collapse">
        <div class="form-row">
            {% include "./_adv_input_field.html" with label="Pseudonym" field_name="pseudonym" %}
            {% include "./_adv_input_field.html" with label="Archive Password" field_name="archive_password" %}
        </div>
        <div class="form-row">
            {% include "./_adv_input_field.html" with label="Trial Protocol ID" field_name="trial_protocol_id" %}
            {% include "./_adv_input_field.html" with label="Trial Protocol Name" field_name="trial_protocol_name" %}
        </div>
    </div>
  </div>
</div>