<div class="form-row">
    {% include "./_query_input_field.html" with label="Patient ID" field_name="patient_id" %}
    {% include "./_query_input_field.html" with label="Patient Name" field_name="patient_name" %}
    {% include "./_query_input_field.html" with label="Birth Date" field_name="patient_birth_date" %}
    {% include "./_query_input_field.html" with label="Study Date" field_name="study_date" %}
    {% include "./_query_input_field.html" with label="Modality" field_name="modality" %}
    {% include "./_query_input_field.html" with label="Accession Nr" field_name="accession_number" %}
</div>