{% extends "main/base_generic.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block script %}
{{ block.super }}
<script src="{% static 'selective_transfer/js/query_studies.js' %}"></script>
{% comment %} {{ url transfer_job_list_create_api|json_script"create_transfer_job_api" }} {% endcomment %}
{% endblock %}

{% block container %}
<h4 class="mb-3">Select studies to transfer</h4>

<form
    @submit.prevent="submitTransfer"
    novalidate="true"
    x-data="queryForm()"
    x-init="init($dispatch)"
    method="post"
>
    {% crispy form %}

    <p x-show="noSearchYet" class="lead">Choose a DICOM source and enter your search</p>

    <div x-show="searchInProgress" x-cloak>
        <div class="d-flex justify-content-center">
            <div class="d-flex flex-column align-items-center">
                <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="mt-2">
                    Searching ...
                </div>
            </div>
        </div>
    </div>

    <div x-show="results.length > 0">
        <table class="table" x-cloak>
            <thead>
                <tr>
                    <th>
                        <div class="custom-control custom-checkbox">
                            <input
                                x-model="selectAllChecked"
                                @change="watchSelectAll"
                                type="checkbox"
                                class="custom-control-input"
                                id="select_all"
                            >
                            <label class="custom-control-label" for="select_all"></label>
                        </div>
                    </th>
                    <th>Patient ID</th>
                    <th>Patient Name</th>
                    <th>Birth Date</th>
                    <th>Study Date</th>
                    <th>Modality</th>
                    <th>Study Description</th>
                </tr>
            </thead>
            <tbody>
                <template x-for="(result, index) in results" :key="result.StudyInstanceUID">
                    <tr>
                        <td>
                            <div class="custom-control custom-checkbox">
                                <input
                                    x-model="result.selected"
                                    @change="selectionChanged"
                                    :id="'select_' + index"
                                    type="checkbox"
                                    class="custom-control-input"
                                >
                                <label class="custom-control-label" :for="'select_' + index"></label>
                            </div>
                        </td>
                        <td x-text="result.PatientID" />
                        <td x-text="result.PatientName" />
                        <td x-text="result.PatientBirthDate" />
                        <td x-text="result.StudyDate" />
                        <td x-text="result.Modalities" />
                        <td x-text="result.StudyDescription" />
                    </tr>
                </template>
            </tbody>
        </table>

        <input type="submit" class="btn btn-primary" value="Start Transfer" />
    </div>
</form>
{% endblock %}
