{% extends "main/base_generic.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block script %}
<script src="{% static 'selective_transfer/js/query_studies.js' %}"></script>
{% endblock %}

{% block container %}
<h4>Search studies to transfer</h4>
<p>{% crispy form %}</p>
<p>No results found</p>
{% endblock %}

{% comment %}
{% block content %}
<div class="top container">
	<h4>Find studies to transfer</h4>

	<form>
		<div class="form-row">
            {% csrf_token %}
			<div class="col form-group">
				<label for="patient_id">Patient ID</label>
				<input type="text" name="patient_id" class="form-control" id="patient_id" />
			</div>
            <div class="col form-group">
				<label for="patient_name">Patient Name</label>
				<input type="text" name="patient_name" class="form-control" id="patient_name" />
			</div>
            <div class="col form-group">
				<label for="patient_birth_date">Birth Date</label>
				<input type="text" name="patient_birth_date" class="form-control" id="patient_birth_date" />
			</div>
            <div class="col form-group">
				<label for="study_date">Study Date</label>
				<input type="text" name="study_date" class="form-control" id="study_date" />
			</div>
            <div class="col form-group">
				<label for="modality">Modality</label>
				<input type="text" name="modality" class="form-control" id="modality" />
			</div>
            <div class="col form-group">
				<label for="accession_number">Accession Number</label>
				<input type="text" name="accession_number" class="form-control" id="accession_number" />
			</div>
		</div>
	</form>

        <div class="progress" style="height: 20px;">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                Searching ...
            </div>
        </div>
        Enter your search terms ...
</div>
{% endblock %}
{% endcomment %}