{% extends "main/base_generic.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block script %}
{{ block.super }}
<script src="{% static 'selective_transfer/js/selective_transfer.js' %}"></script>
{% endblock %}

{% block container %}
<h4 class="mb-3">Select studies to transfer</h4>

<form
    @submit.prevent="submitTransfer"
    novalidate="true"
    x-data="selectiveTransferForm()"
    x-init="init($dispatch)"
>
    {% crispy form %}

    {% include "./_advanced_transfer_options.html" %}

    {% include "./_query_input_panel.html" %}

    <p x-show="noSearchYet" class="lead">Choose a DICOM source and enter your search</p>

    <div x-show="searchInProgress" x-cloak>
        <div class="d-flex justify-content-center">
            <div class="d-flex flex-column align-items-center">
                <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="mt-2">
                    Searching ...
                </div>
            </div>
        </div>
    </div>

    <div x-show="results.length > 0">
        {% include "./_query_result_table.html" %}

        <input type="submit" class="btn btn-primary" value="Start Transfer" />
    </div>
</form>
{% endblock %}
