{% load trans blocktrans from i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% trans "Registration |" %} {{ site.name }}</title>
        <meta name="keywords" content="{{ site.profile.meta_keywords }}" />
        <meta name="description"
              content="Activate your account on {{ site.name }}." />
    </head>
    <body>
        <p>
            {% blocktrans %}
            Dear colleagues,
            <br />
            <br />
            {{ site.name }} is the result of well over a hundred hours of development work, most of which took place
            <mark>in my spare time. I developed it with the intention to simplify our work and improve our research
            activities. Vice versa I ask you to <mark>consider me on publications for which {{ site.name }} was used</mark>.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans %}
            To activate your account on {{ site.name }}, please click the following link within the next
            {{ expiration_days }} days:
            {% endblocktrans %}
        </p>
        <p>
            <a href="https://{{ site.domain }}{% url 'registration_activate' activation_key %}">
                {{ site.domain }}{% url 'registration_activate' activation_key %}
            </a>
        </p>
        <p>
            {% blocktrans %}
            Please view the landing page of <a href="https://{{ site.domain }}">{{ site.name }}</a> and
            <a href="mailto:kai.schlamp@med.uni-heidelberg.de">write me</a> or call me
            (Phone 396-8503) what permissions you need.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans %}
            Sincerely,
            Kai Schlamp
            {% endblocktrans %}
        </p>
    </body>
</html>
{% comment %}
**registration/activation_email.html**

Used to generate the html body of the activation email. Should display a
link the user can click to activate the account. This template has the
following context:

``activation_key``
    The activation key for the new account.

``expiration_days``
    The number of days remaining during which the account may be
    activated.

``site``
    An object representing the site on which the user registered;
    depending on whether ``django.contrib.sites`` is installed, this
    may be an instance of either ``django.contrib.sites.models.Site``
    (if the sites application is installed) or
    ``django.contrib.sites.requests.RequestSite`` (if not). Consult `the
    documentation for the Django sites framework
    <http://docs.djangoproject.com/en/dev/ref/contrib/sites />`_ for
    details regarding these objects' interfaces.

``user``
    The new user account

``request``
    ``HttpRequest`` instance for better flexibility.
    For example it can be used to compute absolute register URL:

        {{ request.scheme }}://{{ request.get_host }}{% url 'registration_activate' activation_key %}
{% endcomment %}
