{% extends "registration/registration_base.html" %}
{% load trans blocktrans from i18n %}
{% block title %}
    {% trans "Account Activated - RADIS" %}
{% endblock title %}
{% block heading %}
    <h4>{% trans "Account activated" %}</h4>
{% endblock heading %}
{% block content %}
    <p>
        {% trans "You activated your account." %}
        {% if not user.is_authenticated %}
            {% blocktrans %}
                To log in and use RADIS the account must be activated also by an administrator.
            {% endblocktrans %}
            {% trans "Once an administrator activates your account you can login." %}
        {% endif %}
    </p>
{% endblock content %}
