{% extends "registration/registration_base.html" %}
{% load trans from i18n %}
{% load crispy from crispy_forms_tags %}
{% block title %}
    {% trans "Change password" %}
{% endblock title %}
{% block heading %}
    <h4>{% trans "Change password" %}</h4>
{% endblock heading %}
{% block content %}
    <p>
        <form method="post" action="">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-primary"
                   type="submit"
                   value="{% trans 'Change password' %}" />
        </form>
    </p>
{% endblock content %}
{# This is used by django.contrib.auth #}
