<div class="modal fade"
     id="{{ modal_id }}"
     tabindex="-1"
     role="dialog"
     aria-labelledby="delete-transfer-job-modal-label"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete-transfer-job-modal-label">Delete Transfer Job</h5>
                <button type="button"
                        class="close"
                        data-bs-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Do you really want to delete this transfer job?</p>
            </div>
            <div class="modal-footer">
                <form action="{% url 'transfer_job_delete' job.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Yes, delete</button>
                </form>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
