<div class="d-flex">
    {% if job.is_deletable %}
        <form class="mr-3" action="{% url delete_url job.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">
                {% include "core/_x.svg" %}
                Delete Job
            </button>
        </form>
    {% endif %}

    {% if job.is_cancelable %}
        <form class="mr-3" action="{% url cancel_url job.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-warning">
                {% include "core/_stop.svg" %}
                Cancel Job
            </button>
        </form>
    {% endif %}

    {% if user.is_staff and not job.is_verified %}
        <form class="mr-3" action="{% url verify_url job.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">
                {% include "core/_check.svg" %}
                Verify Job
            </button>
        </form>
    {% endif %}
</div>