<div class="d-flex">
    {% if user.is_staff and not job.is_verified %}
    <form class="mr-3" action="{% url verify_url job.pk %}" method="post"
        onSubmit="return confirm('Are you sure you want to verify this job?');">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">
            {% include "core/_check.svg" %}
            Verify Job
        </button>
    </form>
    {% endif %}

    {% if job.is_deletable %}
    <form class="mr-3" action="{% url delete_url job.pk %}" method="post"
        onSubmit="return confirm('Are you sure you want to delete this job?');">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">
            {% include "core/_x.svg" %}
            Delete Job
        </button>
    </form>
    {% endif %}

    {% if job.is_cancelable %}
    <form class="mr-3" action="{% url cancel_url job.pk %}" method="post"
        onSubmit="return confirm('Are you sure you want to cancel this job?');">
        {% csrf_token %}
        <button type="submit" class="btn btn-warning">
            {% include "core/_stop.svg" %}
            Cancel Job
        </button>
    </form>
    {% endif %}

    {% if job.is_resumable %}
    <form class="mr-3" action="{% url resume_url job.pk %}" method="post"
        onSubmit="return confirm('Are you sure you want to resume this job?');">
        {% csrf_token %}
        <button type="submit" class="btn btn-secondary">
            {% include "core/_play.svg" %}
            Resume Job
        </button>
    </form>
    {% endif %}

    {% if job.is_retriable %}
    <form class="mr-3" action="{% url retry_url job.pk %}" method="post"
        onSubmit="return confirm('Are you sure you want to retry this job?');">
        {% csrf_token %}
        <button type="submit" class="btn btn-secondary">
            {% include "core/_arrow_clockwise.svg" %}
            Retry Job
        </button>
    </form>
    {% endif %}
</div>