<nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand" href="{% url 'home'%}">ADIT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% with request.resolver_match.url_name as url_name %}
            {% for item in nav_menu_items %}
            <li class="nav-item {% if url_name == item.name %} active {% endif %}">
                <a class="nav-link" href="{% url item.url_name %}">
                    {{ item.label }}
                    {% if url_name == item.url_name %}
                    <span class="sr-only">(current)</span>
                    {% endif %}
                </a>
            </li>
            {% endfor %}
            {% endwith %}
            {% if user.is_staff %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'admin_section' %}">
                    Admin Section
                </a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/radexperts/adit" target="_blank">
                    {% include "core/_github.svg" %}
                </a>
            </li>
        </ul>

        <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    {{ user.username }}
                    {% include "core/_person_square.svg" %}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'user_profile' pk=user.pk %}">Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'auth_logout' %}">Logout</a>
                </div>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'auth_login' %}">
                    {% include "core/_box_arrow_in_right.svg" %}
                    Login
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>