{% extends "core/core_layout.html" %}
{% load access_item from core_extras %}
{% block heading %}
    <h4 class="mb-3">Admin Section</h4>
{% endblock heading %}
{% block content %}
    <h5>Stats</h5>
    <table class="table table-bordered">
    </table>
    <h5>Admin Tools</h5>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="{% url "broadcast" %}">Send Email to all users</a>
        </li>
        <!-- djlint:off D018 -->
        <li class="list-group-item">
            <a href="/admin-the-great/">Django Admin</a>
        </li>
        <li class="list-group-item">
            <a href="/flower/">Flower (Celery Monitoring)</a>
        </li>
        <li class="list-group-item">
            <a href="/rabbit/">RabbitMQ Management Console</a>
        </li>
        <!-- djlint:on-->
    </ul>
{% endblock content %}
