{% extends "core/core_layout.html" %}
{% load access_item from core_extras %}
{% block heading %}
    <h4 class="mb-3">Admin Section</h4>
{% endblock heading %}
{% block content %}
    <h5>Job Overview</h5>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Job</th>
                {% for status in status_list %}<th>{{ status.1 }}</th>{% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for item in job_stats %}
                <tr>
                    <td>{{ item.job_name }}</td>
                    {% for status in status_list %}
                        <td>
                            <a href="{% url item.url_name %}?all=1&status={{ status.0 }}">{{ item.counts|access_item:status.0 }}</a>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h5>Admin Tools</h5>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="{% url 'broadcast' %}">Send Email to all users</a>
        </li>
        <!-- djlint:off D018 -->
        <li class="list-group-item">
            <a href="/admin-the-great/">Django Admin</a>
        </li>
        <li class="list-group-item">
            <a href="/flower/">Flower (Celery Monitoring)</a>
        </li>
        <li class="list-group-item">
            <a href="/orthanc1/">Orthanc 1</a>
        </li>
        <li class="list-group-item">
            <a href="/orthanc2/">Orthanc 2</a>
        </li>
        <!-- djlint:on-->
    </ul>
{% endblock content %}
