{% load static from static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>
            {% block title %}
                ADIT - Automated DICOM Transfer
            {% endblock title %}
        </title>
        <meta name="keywords" content="ADIT,DICOM,Radiology,Medicine,Tool" />
        <meta name="charset" content="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description"
              content="ADIT is a tool for automated DICOM transfer" />
        <meta name="author" content="Kai Schlamp" />
        {% block meta %}
        {% endblock meta %}
        {# We put the theme JavaScript stuff on top to avoid flickering #}
        <script src="{% static 'core/theme.js' %}"></script>
        {# Favicons #}
        <link rel="icon"
              type="image/png"
              sizes="32x32"
              href="{% static 'favicon/favicon-32x32.png' %}" />
        <link rel="icon"
              type="image/png"
              sizes="16x16"
              href="{% static 'favicon/favicon-16x16.png' %}" />
        {# CSS stuff #}
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'vendor/bootstrap.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'core/core.css' %}" />
        {% block css %}
        {% endblock css %}
    </head>
    <body id="{{ request.resolver_match.url_name }}">
        <script>document.body.className="js";</script>
        {% include "core/_navbar.html" %}
        <main role="main">
            {% block content %}
                <div class="top container my-3">
                    {% block container %}
                    {% endblock container %}
                </div>
            {% endblock content %}
            {% include "core/_footer.html" %}
        </main>
        {% include "core/_messages_panel.html" %}
        {% block bottom %}
        {% endblock bottom %}
        <!-- Vendor Javascript stuff -->
        <script src="{% static 'vendor/popper.js' %}"></script>
        <script src="{% static 'vendor/bootstrap.bundle.js' %}"></script>
        <script src="{% static 'vendor/htmx.js' %}"></script>
        <script src="{% static 'vendor/htmx-ws.js' %}"></script>
        <script src="{% static 'vendor/htmx-alpine-morph.js' %}"></script>
        <script src="{% static 'vendor/alpine-morph.js' %}"></script>
        <script type="module" src="{% static 'vendor/alpine.js' %}"></script>
        <!-- Our Javascript stuff -->
        {{ public|json_script:"public" }}
        <script src="{% static 'core/core.js' %}"></script>
        {% block script %}
        {% endblock script %}
    </body>
</html>
