{% extends "core/core_layout.html" %}
{% load static from static %}
{% block title %}
    Home
{% endblock title %}
{% block heading %}
    <h1 class="display-4 d-flex align-items-center">
        <span class="me-2">Welcome to ADIT</span>
        {% include "core/images/adit_logo.svg" %}
    </h1>
    <p class="lead">A swiss army knife to exchange DICOM data between various systems.</p>
    <p>
        Active Group:
        {% if not user.active_group %}
            —
        {% else %}
            {{ user.active_group.name }}
        {% endif %}
        <small class="ms-1">[<a href="{% url 'profile' %}">Change in user profile</a>]</small>
    </p>
{% endblock heading %}
{% block content %}
    <div class="alert alert-info" role="alert">{{ announcement|safe }}</div>
    <p>
        ADIT (Automated DICOM Transfer) allows to transfer studies between different DICOM / PACS servers or
        download them to a network drive. The transferred resp. downloaded data can be pseudonymized on the fly
        and can be tagged with trial information.
    </p>
    <p>ADIT contains its functionalities in different modules:</p>
    <dl>
        <dt>
            <a href="{% url 'selective_transfer_job_create' %}">Selective Transfer</a>
        </dt>
        <dd>
            Search and select specific studies to transfer or download.
        </dd>
        <dt>
            <a href="{% url 'batch_query_job_create' %}">Batch Query</a>
        </dt>
        <dd>
            Search for studies on a PACS server by using a batch file.
        </dd>
        <dt>
            <a href="{% url 'batch_transfer_job_create' %}">Batch Transfer</a>
        </dt>
        <dd>
            Transfer or download multiple studies specified in a batch file.
        </dd>
        <dt>
            <a href="{% url 'dicom_explorer_form' %}">DICOM Explorer</a>
        </dt>
        <dd>
            Explore the DICOM data of a PACS server.
        </dd>
    </dl>
    {% if not user.is_authenticated %}
        <p>
            <a class="btn btn-info" href="{% url 'auth_login' %}" role="button">Log in</a>
            <span class="ms-2">No account yet?</span>
            <a href="{% url 'registration_register' %}">Register</a>
        </p>
    {% endif %}
{% endblock content %}
