{% extends "core/_message_modal.html" %}

{% block modal_title %}
Batch Transfer Help
{% endblock modal_title %}

{% block modal_body %}
<p>
    With this form you can create a new batch transfer job to transfer studies
    from a source server to a destination. Batch transfer jobs are put into a
    queue and will be processed by a worker when the time is right.
    You will get an Email when the job is finished (or failed for some reason).
</p>

<p>
    Each batch transfer job contains several transfer tasks that define what 
    studies to transfer. This data must be specified in a CSV file.
    If your data is in an Excel file then it can be exported to a CSV file.  
    The first row of the CSV file must contain the header with the column
    titles. The following rows contain the data that identfies the studies
    to transfer.
</p>

<p>
    The following columns must be defined in the CSV file:
    <dl>
        <dt>BatchID</dt>
        <dd>A consecutive unique number that identifies the transfer (required).</dd>
        <dt>PatientID</dt>
        <dd>The unique ID of the patient in the PACS.</dd>
        <dt>StudyInstanceUID</dt>
        <dd>A unique ID that identifies the study.</dd>
        <dt>Pseudonym</dt>
        <dd>A pseudonym to pseudonymize the images during transfer.</dd>
    </dl>
</p>

<p>
    The provided pseudonym will be set as PatientID and PatientName. So it is
    best to use some identifier like in the above example (and not another
    person name).
</p>

<div class="mb-1">
    <a href="{% static 'samples/batch_transfer_sample.csv' %}">
        {% include "core/_download.svg" %}
        Download a sample CSV batch transfer file (supported by Excel).
    </a>
</div>

{% endblock modal_body %}
