{% extends "core/base_generic.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block script %}
{{ block.super }}
<script src="{% static 'batch_transfer/batch_transfer.js' %}"></script>
{% endblock script %}

{% block container %}
<h4 class="mb-3">
    Create Batch Transfer Job
    <a href="#" class="badge badge-info" data-toggle="modal" data-target="#batch_form_help_modal">
        Help
        <span class="align-bottom">
            {% include "core/_help_icon.html" %}
        </span>
    </a>
</h4>
{% crispy form %}
{% endblock container %}

{% block bottom %}
{% include 'batch_transfer/_batch_form_help_modal.html' with modal_id="batch_form_help_modal" %}
{% include 'batch_transfer/_csv_error_details_modal.html' with modal_id="csv_error_details_modal" %}
{% endblock bottom %}