{% extends "main/base_generic.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block script %}
{{ block.super }}
<script src="{% static 'batch_transfer/batch_transfer.js' %}"></script>
{% endblock script %}

{% block container %}
<h4>
    Create Batch Transfer Job
    <small>
        [<a href="#" class="border-bottom" data-toggle="modal" data-target="#batch-form-help-modal">
            Help
            {% include "main/_help_icon.html" %}
        </a>]
    </small>
</h4>
<p>{% crispy form %}</p>
{% endblock container %}

{% block bottom %}
{% include 'batch_transfer/_batch_form_help_modal.html' with modal_id="batch-form-help-modal" %}
{% endblock bottom %}