{% extends "main/base_generic.html" %}

{% block container %}

<h4 class="card-title">Batch Transfer Job</h4>

<dl class="row">
    <dt class="col-sm-3">Job ID</dt>
    <dd class="col-sm-9">{{job.id}}</dd>

    <dt class="col-sm-3">Source</dt>
    <dd class="col-sm-9">{{job.source}}</dd>

    <dt class="col-sm-3">Destination</dt>
    <dd class="col-sm-9">{{job.destination}}</dd>

    <dt class="col-sm-3">Created At</dt>
    <dd class="col-sm-9">{{ job.created }}</dd>

    {% if user.is_staff %}
        <dt class="col-sm-3">Created By</dt>
        <dd class="col-sm-9">{{ job.owner }}</dd>
    {% endif %}

    <dt class="col-sm-3">Project Name</dt>
    <dd class="col-sm-9">{{ job.project_name }}</dd>

    <dt class="col-sm-3">Trial Protocol ID</dt>
    <dd class="col-sm-9">{{ job.trial_protocol_id|default:"—" }}</dd>

    <dt class="col-sm-3">Trial Protocol Name</dt>
    <dd class="col-sm-9">{{ job.trial_protocol_name|default:"—" }}</dd>

    <dt class="col-sm-3">Total Requests</dt>
    <dd class="col-sm-9">{{ job.requests.count }}</dd>

    <dt class="col-sm-3">Processed Requests</dt>
    <dd class="col-sm-9">{{ job.get_processed_requests.count }}</dd>

    <dt class="col-sm-3">Status</dt>
    <dd class="col-sm-9">{{ job.get_status_display }}</dd>

    <dt class="col-sm-3">Message</dt>
    <dd class="col-sm-9">{{ job.message|default:"—" }}</dd>
</dl>

{% load render_table from django_tables2 %}

{% if table.data %}
    <h5>
        Batch Transfer Requests

        <a href="javascript:void(null);" id="copy-table-link" data-clipboard-target="#requests-table">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clipboard" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                <path fill-rule="evenodd" d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
            </svg>
        </a>
    </h5>
    {% render_table table %}
{% else %}
    No requests to view.
{% endif %}

{% include "main/_job_control_panel.html" %}

{% endblock container %}

{% block script %}
<script>
$(function() {
    new ClipboardJS('#copy-table-link');
});
</script>
{% endblock script %}
