{% extends "core/base_generic.html" %}

{% block container %}

<h4>Batch Transfer Job</h4>

<dl class="row">
    <dt class="col-sm-3">Job ID</dt>
    <dd class="col-sm-9">{{job.id}}</dd>

    <dt class="col-sm-3">Source</dt>
    <dd class="col-sm-9">{{job.source}}</dd>

    <dt class="col-sm-3">Destination</dt>
    <dd class="col-sm-9">{{job.destination}}</dd>

    <dt class="col-sm-3">Created At</dt>
    <dd class="col-sm-9">{{ job.created }}</dd>

    {% if user.is_staff %}
        <dt class="col-sm-3">Created By</dt>
        <dd class="col-sm-9">{{ job.owner }}</dd>
    {% endif %}

    <dt class="col-sm-3">Project Name</dt>
    <dd class="col-sm-9">{{ job.project_name }}</dd>

    <dt class="col-sm-3">Trial Protocol ID</dt>
    <dd class="col-sm-9">{{ job.trial_protocol_id|default:"—" }}</dd>

    <dt class="col-sm-3">Trial Protocol Name</dt>
    <dd class="col-sm-9">{{ job.trial_protocol_name|default:"—" }}</dd>

    <dt class="col-sm-3">Total Requests</dt>
    <dd class="col-sm-9">{{ job.requests.count }}</dd>

    <dt class="col-sm-3">Processed Requests</dt>
    <dd class="col-sm-9">{{ job.get_processed_requests.count }}</dd>

    <dt class="col-sm-3">Status</dt>
    <dd class="col-sm-9">{{ job.get_status_display }}</dd>

    <dt class="col-sm-3">Message</dt>
    <dd class="col-sm-9">{{ job.message|default:"—" }}</dd>
</dl>

{% load crispy_forms_tags %}
<div class="row justify-content-end mb-1">
    <div class="col-md">
        <h5 text-nowrap>
            Requests
            <a 
                href="javascript:void(null);"
                id="copy-table-link"
                class="badge badge-light align-top"
                data-clipboard-target="#requests-table"
                data-toggle="tooltip"
                data-placement="top"
                title="Copy table to clipboard"
            >
                {% include "batch_transfer/_clipboard_icon.html" %}
            </a>
        </h5>
    </div>
    <div class="col col-md-auto">
        {% crispy filter.form %}
    </div>
    <div class="col col-md-auto">
        {% crispy page_size_select %}
    </div>
</div>

{% load render_table from django_tables2 %}
{% if table.data %}
    {% render_table table %}
{% else %}
    No requests to view.
{% endif %}

{% include "core/_job_control_panel.html" %}

{% endblock container %}

{% block script %}
<script>
$(function() {
    new ClipboardJS('#copy-table-link');
});
</script>
{% endblock script %}
