{% extends "core/base_generic.html" %}

{% load dicom_job_status_css_class from core_extras %}
{% load crispy from crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% load job_control_panel from batch_transfer_extras %}

{% block container %}
<div class="d-flex justify-content-between align-items-start">
    <h4 class="mb-3">Batch Transfer Job</h4>
    <a href="{% url 'batch_transfer_job_list' %}">
        {% include "core/_list.svg" %}
        <span class="align-middle">Job List</span>
    </a>
</div>

<dl class="row">
    <dt class="col-sm-3">Job ID</dt>
    <dd class="col-sm-9">{{job.id}}</dd>

    <dt class="col-sm-3">Source</dt>
    <dd class="col-sm-9">{{job.source}}</dd>

    <dt class="col-sm-3">Destination</dt>
    <dd class="col-sm-9">{{job.destination}}</dd>

    <dt class="col-sm-3">Created At</dt>
    <dd class="col-sm-9">{{ job.created }}</dd>

    {% if user.is_staff %}
        <dt class="col-sm-3">Created By</dt>
        <dd class="col-sm-9">{{ job.owner }}</dd>
    {% endif %}

    <dt class="col-sm-3">Project Name</dt>
    <dd class="col-sm-9">{{ job.project_name }}</dd>

    <dt class="col-sm-3">Trial Protocol ID</dt>
    <dd class="col-sm-9">{{ job.trial_protocol_id|default:"—" }}</dd>

    <dt class="col-sm-3">Trial Protocol Name</dt>
    <dd class="col-sm-9">{{ job.trial_protocol_name|default:"—" }}</dd>

    <dt class="col-sm-3">Total Requests</dt>
    <dd class="col-sm-9">{{ job.requests.count }}</dd>

    <dt class="col-sm-3">Processed Requests</dt>
    <dd class="col-sm-9">{{ job.get_processed_requests.count }}</dd>

    <dt class="col-sm-3">Status</dt>
    <dd class="col-sm-9">
        <span class="{{ job.status|dicom_job_status_css_class }}">
            {{ job.get_status_display }}
        </span>
    </dd>

    <dt class="col-sm-3">Message</dt>
    <dd class="col-sm-9">{{ job.message|default:"—" }}</dd>
</dl>

<div class="row justify-content-end mb-1">
    <div class="col-md">
        <h5 text-nowrap>
            Transfer Requests
            <a 
                href="javascript:void(null);"
                class="badge badge-light align-top"
                data-toggle="tooltip"
                data-placement="top"
                title="Download request data (CSV file)"
            >
                {% include "core/_download.svg" %}
            </a>
        </h5>
    </div>
    <div class="col col-md-auto">
        {% crispy filter.form %}
    </div>
    <div class="col col-md-auto">
        {% crispy page_size_select %}
    </div>
</div>

{% render_table table %}

{% job_control_panel %}

{% endblock container %}