{% extends "core/base_generic.html" %}

{% load static from static %}
{% load crispy from crispy_forms_tags %}

{% block script %}
{{ block.super }}
<script src="{% static 'batch_transfer/batch_transfer.js' %}"></script>
{% endblock script %}

{% block container %}
<div class="d-flex justify-content-between align-items-start">
    <h4 class="mb-3">
        New Batch Transfer Job
        {% include "core/_help_button.html" with target="#batch_transfer_help_modal" only %}
    </h4>
    <a href="{% url 'batch_transfer_job_list' %}">
        {% include "core/_list.svg" %}
        <span class="align-middle">Previous Jobs</span>
    </a>
</div>

{% crispy form %}
{% endblock container %}

{% block bottom %}
{% include 'batch_transfer/_batch_transfer_help_modal.html' with modal_id="batch_transfer_help_modal" %}
{% include 'batch_transfer/_csv_error_details_modal.html' with modal_id="csv_error_details_modal" %}
{% endblock bottom %}