<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">REST Authentication Token Help</h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close" />
    </div>
    <div class="modal-body">
        <p>
            With this feature you can generate an authentication token to authenticate
            your third party REST application.
        </p>
        <p>
            The token should be included in the request header like this:
            <br>
            <code>Authorization: Token 9944b09199c62bcf9418ad846dd0e4bbdfc6ee4b</code>
        </p>
    </div>
</div>
