{# Adapted from django-tables2 template #}
{% load django_tables2 %}
{% load i18n %}
{% if page and paginator.num_pages > 1 %}
    <ul class="pagination justify-content-center">
        {% if page.has_previous %}
            <li class="previous page-item">
                <a href="{% querystring 'page'=page.previous_page_number %}"
                   class="page-link">
                    <span aria-hidden="true">«</span>
                    {% trans 'previous' %}
                </a>
            </li>
        {% endif %}
        {% if page.has_previous or page.has_next %}
            {% for p in page|table_page_range:paginator %}
                <li class="page-item{% if page.number == p %} active{% endif %}">
                    <a class="page-link"
                       {% if p != '...' %}href="{% querystring 'page'=p %}"{% endif %}>{{ p }}</a>
                </li>
            {% endfor %}
        {% endif %}
        {% if page.has_next %}
            <li class="next page-item">
                <a href="{% querystring 'page'=page.next_page_number %}"
                   class="page-link">
                    {% trans 'next' %}
                    <span aria-hidden="true">»</span>
                </a>
            </li>
        {% endif %}
    </ul>
{% endif %}
