{% extends "main/base_generic.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="top container">
        {% if form.errors %}
            <p>Your username or password is incorrect. Try again?</p>
        {% endif %}
        
        {% if next %}
            {% if user.is_authenticated %}
                <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
            {% else %}
                <p>You muss login to access this page.</p>
            {% endif %}
        {% endif %}

        <h5>Login</h5>
        <p>{% crispy form %}</p>
    </div>
{% endblock %}