
<tr>
    <th><label for="id_pseudonym">Pseudonym:</label></th>
    <td>
      <ul class="errorlist"><li>This field is required.</li></ul>
      <input type="text" name="pseudonym" maxlength="64" required id="id_pseudonym">
      
      
    </td>
  </tr>

  <tr>
    <th><label for="id_destination">Destination:</label></th>
    <td>
      
      <select name="destination" required id="id_destination">
  <option value="">---------</option>

  <option value="1" selected data-node_type="server" node_id="1">DICOM Server Orthanc Test Server 1</option>

  <option value="2" data-node_type="server" node_id="2">DICOM Server Orthanc Test Server 2</option>

  <option value="4" data-node_type="server" node_id="4">DICOM Server wagner-ramos</option>

  <option value="6" data-node_type="folder" node_id="6">DICOM Folder Downloads</option>

  <option value="8" data-node_type="folder" node_id="8">DICOM Folder lewis-murphy</option>

  <option value="7" data-node_type="folder" node_id="7">DICOM Folder mcdonald</option>

</select>
      
      
        
      
    </td>
  </tr> 