{% extends "upload/upload_layout.html" %}
{% load crispy from crispy_forms_tags %}
{% block heading %}
    <div class="d-flex justify-content-between align-items-start">
        <h4 class="mb-3">
            New Data Upload Job
            {% include "core/_help_button.html" %}
        </h4>
        <a href="#">
            {% include "core/icons/list.svg" %}
            Previous Jobs
        </a>
    </div>
{% endblock heading %}
{% block content %}
    <!--
        In contrast to the documentation we put hx-ext directly on the form
        as otherwise the submit button values are not in the sent form data.
        https://github.com/bigskysoftware/htmx/issues/1337
     -->
    <div x-data="uploadJobForm($el)">
        <form hx-ext="alpine-morph"
              method="post"
              action=""
              {% comment %}
              Hier
              muss
              die
              url
              der
              neuen
              async
              view
              rein
              {% endcomment %}
              novalidate
              {% crispy form %}>
            <button type="submit"
                    class="btn btn-primary"
                    name="action"
                    value="transfer"
                    @click.prevent="query4Folder()">
                <span>Search Folder</span>
            </button>
            <input id="fileselector"
                   type="file"
                   class="btn btn-primary"
                   @onchange="chooseFolder()"
                   webkitdirectory
                   directory
                   multiple="true">
            Choose a directory</>
            <button class="btn btn-primary"  @click="chooseFolder()">Browse Folder</button>
        </form>
    </div>
{% endblock content %}
{% block bottom %}
{% endblock bottom %}
