{% extends "core/base_generic.html" %}
{% load static from static %}
{% load crispy from crispy_forms_tags %}
{% block css %}
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'search/search.css' %}" />
{% endblock css %}
{% block container %}
    <h4 class="mb-3">Search reports</h4>
    {% crispy form %}
    <div>
        {% for report in reports %}
            <div class="card mb-3">
                <div class="card-body">
                    <div class="report-text">{{ report.body|safe }}</div>
                    <a href="{% url 'report_detail' report.doc_id %}">{{ report.doc_id }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
    {% include "core/_pagination.html" %}
{% endblock container %}
