.mermaid {
  text-align: center;
  margin: 1em 0;
}

.mermaid svg {
  max-width: 100% !important;
  height: auto !important;
}

.mermaid .actor {
  stroke: #333;
  fill: #ececff;
}

.mermaid .node rect,
.mermaid .node circle,
.mermaid .node ellipse,
.mermaid .node polygon {
  stroke-width: 1px;
}
