<div id="response">
    <div class="mt-3 d-flex justify-content-center">
        <div class="d-flex flex-column align-items-center">
            <div class="spinner-border"
                 style="width: 3rem;
                        height: 3rem"
                 role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="mt-2">Searching ...</div>
            <button type="submit" name="action" value="cancel" class="btn btn-light">Cancel</button>
        </div>
    </div>
</div>
