{% extends "core/_message_modal.html" %}
{% block modal_title %}
    Selective Transfer Help
{% endblock modal_title %}
{% block modal_body %}
    <p>
        With the selective transfer form you can search a source server for studies
        and transfer them to a destination server or folder.
    </p>
    <p>
        You can choose an optional archive password to store the transferred data
        in an encrpyted 7z (https://7-zip.org) archive (max. 10 studies).
    </p>
{% endblock modal_body %}
