{% extends "core/core_layout.html" %}
{% load dicom_job_status_css_class from core_extras %}
{% load render_table from django_tables2 %}
{% load job_control_panel from selective_transfer_extras %}
{% block heading %}
    <div class="d-flex justify-content-between align-items-start">
        <h4 class="mb-3">Selective Transfer Job</h4>
        <a href="{% url 'selective_transfer_job_list' %}">
            {% include "core/icons/list.svg" %}
            Job List
        </a>
    </div>
{% endblock heading %}
{% block content %}
    <dl class="row">
        <dt class="col-sm-3">Job ID</dt>
        <dd class="col-sm-9">
            {{ job.id }}
        </dd>
        <dt class="col-sm-3">Urgent</dt>
        <dd class="col-sm-9">
            {{ job.urgent|yesno:"Yes,No" }}
        </dd>
        <dt class="col-sm-3">Source</dt>
        <dd class="col-sm-9">
            {{ job.source }}
        </dd>
        <dt class="col-sm-3">Destination</dt>
        <dd class="col-sm-9">
            {{ job.destination }}
        </dd>
        <dt class="col-sm-3">Created At</dt>
        <dd class="col-sm-9">
            {{ job.created }}
        </dd>
        {% if user.is_staff %}
            <dt class="col-sm-3">Created By</dt>
            <dd class="col-sm-9">
                {{ job.owner }}
            </dd>
        {% endif %}
        <dt class="col-sm-3">Trial Protocol ID</dt>
        <dd class="col-sm-9">
            {{ job.trial_protocol_id|default:"—" }}
        </dd>
        <dt class="col-sm-3">Trial Protocol Name</dt>
        <dd class="col-sm-9">
            {{ job.trial_protocol_name|default:"—" }}
        </dd>
        <dt class="col-sm-3">Processed Transfer Tasks</dt>
        <dd class="col-sm-9">
            {{ job.processed_tasks.count }} of {{ job.tasks.count }}
        </dd>
        <dt class="col-sm-3">Status</dt>
        <dd class="col-sm-9">
            <span class="{{ job.status|dicom_job_status_css_class }}"
                  data-status="{{ job.status }}">{{ job.get_status_display }}</span>
        </dd>
        <dt class="col-sm-3">Message</dt>
        <dd class="col-sm-9">
            {{ job.message|default:"—" }}
        </dd>
    </dl>
    <div class="d-flex justify-content-between">
        <h5 text-nowrap>Transfer Tasks</h5>
        {% include "core/_table_filters.html" %}
    </div>
    {% render_table table %}
    {% job_control_panel %}
{% endblock content %}
