{% extends "core/base_generic.html" %}
{% load static from static %}
{% load crispy from crispy_forms_tags %}
{% block script %}
    {{ block.super }}
    <script src="{% static 'selective_transfer/selective_transfer.js' %}"></script>
{% endblock script %}
{% block container %}
    <div class="d-flex justify-content-between align-items-start">
        <h4 class="mb-3">
            Select studies to transfer
            {% include "core/_help_button.html" with target="#selective_form_help_modal" only %}
        </h4>
        <a href="{% url 'selective_transfer_job_list' %}">
            {% include "core/icons/list.svg" %}
            <strong class="align-middle">Previous Jobs</strong>
        </a>
    </div>
    <!--
        In contrast to the documentation we put hx-ext directly on the form
        as otherwise the submit button values are not in the sent form data.
        https://github.com/bigskysoftware/htmx/issues/1337
     -->
    <form hx-ext="ws, morphdom-swap"
          ws-connect="/ws/selective-transfer"
          ws-send
          x-data="selectiveTransferForm()"
          x-init="init($el)"
          method="post"
          action=""
          novalidate>
        {% crispy form %}
        <input type="submit" name="action" value="query" class="d-none" />
        <input type="submit" name="action" value="reset" class="d-none" />
        <div id="response">
            {% if request.method == "GET" %}
                {% include "selective_transfer/_query_hint.html" %}
            {% endif %}
        </div>
    </form>
{% endblock container %}
{% block bottom %}
    {% include "selective_transfer/_selective_form_help_modal.html" with modal_id="selective_form_help_modal" %}
{% endblock bottom %}
