{% extends "main/base_generic.html" %}

{% block container %}

<h4 class="card-title">Selective Transfer Job</h4>

<dl class="row">
    <dt class="col-sm-3">Source</dt>
    <dd class="col-sm-9">{{job.source}}</dd>

    <dt class="col-sm-3">Destination</dt>
    <dd class="col-sm-9">{{job.destination}}</dd>

    <dt class="col-sm-3">Created At</dt>
    <dd class="col-sm-9">{{ job.created_at }}</dd>

    {% if user.is_staff %}
        <dt class="col-sm-3">Created By</dt>
        <dd class="col-sm-9">{{ job.created_by }}</dd>
    {% endif %}

    <dt class="col-sm-3">Trial Protocol ID</dt>
    <dd class="col-sm-9">{{ job.trial_protocol_id|default:"-" }}</dd>

    <dt class="col-sm-3">Trial Protocol Name</dt>
    <dd class="col-sm-9">{{ job.trial_protocol_name|default:"-" }}</dd>

    <dt class="col-sm-3">Total Transfer Tasks</dt>
    <dd class="col-sm-9">{{ job.tasks.count }}</dd>

    <dt class="col-sm-3">Processed Transfer Tasks</dt>
    <dd class="col-sm-9">{{ job.get_processed_tasks.count }}</dd>

    <dt class="col-sm-3">Status</dt>
    <dd class="col-sm-9">{{ job.get_status_display }}</dd>

    <dt class="col-sm-3">Message</dt>
    <dd class="col-sm-9">{{ job.message }}</dd>
</dl>

<div>
    {% include 'selective_transfer/transfer_tasks_table.html' %}
</div>

<div>
{% if job.is_deletable %}
    <button 
        type="button"
        class="btn btn-danger"
        data-toggle="modal"
        data-target="#delete-transfer-job-modal"
    >
        Delete Job
    </button>
{% endif %}

{% if job.is_cancelable %}
    <button type="button" class="btn btn-danger">Cancel Job</button>
{% endif %}
</div>

{% endblock %}

{% block bottom %}
{% include 'main/delete_transfer_job_modal.html' with modal_id="delete-transfer-job-modal" %}
{% endblock %}