{% extends "main/base_generic.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block script %}
{{ block.super }}
<script src="{% static 'selective_transfer/selective_transfer.js' %}"></script>
{% endblock %}

{% block container %}
<h4 class="mb-3">Select studies to transfer</h4>

<form
    method="POST"
    action=""
    novalidate="true"
    x-data="selectiveTransferForm()"
    x-init="init($el, $refs)"
>
    <div id="query_form">
        {% crispy form %}
    </div>

    <input type="submit" class="d-none" name="action" value="query" />

    {% if not query and not transfer %}
        <div id="help_message">
            <div class="alert alert-primary mt-3" role="alert">
                Choose a DICOM source and enter your search
            </div>
        </div>
    {% endif %}

    <div id="error_message">
        {% include "selective_transfer/_error_message.html" %}
    </div>

    <div id="created_job">
        {% include "selective_transfer/_created_job.html" %}
    </div>

    <div id="query_results">
        {% include "selective_transfer/_query_results.html" %}
    </div>
</form>
{% endblock %}
