{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{% block title %}ADIT - Automated DICOM Transfer{% endblock title %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	{% block meta %}{% endblock %}

	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'main/main.css' %}">
	{% block css %}{% endblock %}

	<script src="{% static 'vendor/jquery.js' %}"></script>
	<script src="{% static 'vendor/bootstrap.bundle.js' %}"></script>
	<script type="module" src="{% static 'vendor/alpine.js' %}"></script>
	<script nomodule src="{% static 'vendor/alpine-ie11.js' %}" defer></script>
	<script src="{% static 'vendor/clipboard.js' %}"></script>
	<script src="{% static 'vendor/js.cookie.js' %}"></script>
	<script src="{% static 'main/main.js' %}"></script>
	{% block script %}{% endblock %}
</head>

<body id="{{ request.resolver_match.url_name }}">
	{% include 'main/navbar.html' %}

	<main role="main">
		{% block content %}
		<div class="top container my-3">
			{% block container %}{% endblock %}
		</div>
		{% endblock %}
	</main>

	{% include 'main/messages_panel.html' %}

	{% block bottom %}{% endblock %}
</body>

</html>