{% extends "batch_query/batch_query_layout.html" %}
{% load crispy from crispy_forms_tags %}
{% load bootstrap_icon from core_extras %}
{% block heading %}
    <div class="d-flex justify-content-between align-items-start">
        <h4 class="mb-3">
            New Batch Query Job
            {% include "core/_help_button.html" with target="#batch_query_help_modal" only %}
        </h4>
        <a href="{% url 'batch_query_job_list' %}">
            {% bootstrap_icon "list" %}
            Previous Jobs
        </a>
    </div>
{% endblock heading %}
{% block content %}
    {% crispy form %}
{% endblock content %}
{% block bottom %}
    {% include "batch_query/_batch_query_help_modal.html" with modal_id="batch_query_help_modal" %}
    {% include "batch_query/_batch_file_errors_modal.html" with modal_id="batch_file_errors_modal" %}
{% endblock bottom %}
