{% extends "batch_query/batch_query_layout.html" %}
{% load dicom_task_status_css_class from core_extras %}
{% load crispy from crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% load task_control_panel from batch_query_extras %}
{% block title %}
    Batch Query Task
{% endblock title %}
{% block heading %}
    <c-page-heading title="Batch Query Task" />
{% endblock heading %}
{% block content %}
    {% include "core/_dicom_task_detail.html" %}
    <c-table-heading title="Results" />
    {% render_table table %}
    {% task_control_panel %}
{% endblock content %}
