{% extends "batch_query/batch_query_layout.html" %}
{% load bootstrap_icon from common_extras %}
{% block title %}
    Batch Query Jobs
{% endblock title %}
{% block heading %}
    <c-page-heading title="Batch Query Jobs">
    <c-slot name="right">
    <a href="{% url 'batch_query_job_create' %}" class="btn btn-primary">
        {% bootstrap_icon "plus-lg" %}
        Create New Job
    </a>
    </c-slot>
    </c-page-heading>
{% endblock heading %}
{% block content %}
    {% include "core/_dicom_job_table.html" %}
{% endblock content %}
