version: "3.8"

x-app: &default-app
  image: adit_dev:latest
  volumes:
    - ..:/app
  env_file:
    - ../.env.dev
  environment:
    ENABLE_REMOTE_DEBUGGING: 0
    DJANGO_SETTINGS_MODULE: "adit.settings.development"
  pull_policy: never # only works with Docker Compose and not Docker Swarm

services:
  web:
    <<: *default-app
    build:
      target: development
    ports:
      - "${ADIT_HOST_PORT:-8000}:8000"
      - "${ADIT_DEBUG_PORT:-5678}:5678"
    volumes:
      # Cave, overwrites the above anchor
      - ..:/app
      - vscode-server:/root/.vscode-server/extensions
      - vscode-server-insiders:/root/.vscode-server-insiders/extensions
    command: >
      bash -c "
        wait-for-it -s postgres.local:5432 -t 60 && 
        ./manage.py migrate &&
        ./manage.py collectstatic --no-input &&
        ./manage.py populate_db &&
        ./manage.py runserver 0.0.0.0:8000
      "
    profiles:
      - full
      - web

  postgres:
    env_file:
      - ../.env.dev
    profiles:
      - full
      - web

  dicom_worker:
    <<: *default-app
    command: >
      bash -c "
        wait-for-it -s web.local:8000 -t 0 && 
        ./manage.py dicom_worker --autoreload
      "
    profiles:
      - full

  celery_worker:
    <<: *default-app
    command: |
      ./manage.py celery_worker -Q default_queue --autoreload
    profiles:
      - full

  celery_beat:
    <<: *default-app
    command: |
      ./manage.py celery_beat --autoreload
    profiles:
      - full

  receiver:
    <<: *default-app
    ports:
      - "11122:11112"
    command: |
      ./manage.py receiver --autoreload
    profiles:
      - full

  flower:
    <<: *default-app
    profiles:
      - full

  redis:
    profiles:
      - full

  orthanc1:
    profiles:
      - full

  orthanc2:
    profiles:
      - full

volumes:
  vscode-server:
  vscode-server-insiders:
