{% load bootstrap_icon combine_datetime join_if_list from common_extras %}
{% load explorer_url from dicom_explorer_extras %}
<dl class="row card-body mb-0">
    <dt class="col-sm-3">Study Instance UID</dt>
    <dd class="col-sm-9">
        {{ study.StudyInstanceUID }}
        {% if level != "study" %}
            {% explorer_url server.id patient.PatientID study.StudyInstanceUID as study_url %}
            <a href="{{ study_url }}">{% bootstrap_icon "box-arrow-in-down-right" %}</a>
        {% endif %}
    </dd>
    <dt class="col-sm-3">Accession Number</dt>
    <dd class="col-sm-9">
        {{ study.AccessionNumber|default:"—" }}
    </dd>
    <dt class="col-sm-3">Study Date/Time</dt>
    {% combine_datetime study.StudyDate study.StudyTime as study_datetime %}
    <dd class="col-sm-9">
        {{ study_datetime|date:"SHORT_DATETIME_FORMAT" }}
    </dd>
    <dt class="col-sm-3">Study Description</dt>
    <dd class="col-sm-9">
        {{ study.StudyDescription|default:"—" }}
    </dd>
    <dt class="col-sm-3">Modalities</dt>
    <dd class="col-sm-9">
        {{ study.ModalitiesInStudy|join_if_list:", "|default:"—" }}
    </dd>
    <dt class="col-sm-3"># Images</dt>
    <dd class="col-sm-9">
        {{ study.NumberOfStudyRelatedInstances|default_if_none:"—" }}
    </dd>
</dl>
