{% extends "accounts/accounts_layout.html" %}
{% block heading %}
    <h4>Profile information</h4>
{% endblock heading %}
{% block content %}
    <dl class="row">
        <dt class="col-sm-3">Username</dt>
        <dd class="col-sm-9">
            {{ user.get_username }}
        </dd>
        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9">
            {{ user.email }}
        </dd>
        <dt class="col-sm-3">Full name</dt>
        <dd class="col-sm-9">
            {{ user.get_full_name }}
        </dd>
        <dt class="col-sm-3">Phone number</dt>
        <dd class="col-sm-9">
            {{ user.phone_number }}
        </dd>
        <dt class="col-sm-3">Department</dt>
        <dd class="col-sm-9">
            {{ user.department }}
        </dd>
        <dt class="col-sm-3">Last login</dt>
        <dd class="col-sm-9">
            {{ user.last_login }}
        </dd>
        <dt class="col-sm-3">Date joined</dt>
        <dd class="col-sm-9">
            {{ user.date_joined }}
        </dd>
    </dl>
    <div class="mt-4">{% include "accounts/_active_group_selector.html" %}</div>
    <div class="mt-4">
        <h5>Actions</h5>
        <a class="btn btn-secondary" href="{% url 'auth_password_change' %}">Change Password</a>
        <a class="btn btn-secondary ms-2" href="{% url 'token_dashboard' %}">Manage API Tokens</a>
        <a class="btn btn-secondary ms-2" href="{% url 'auth_logout' %}">Logout</a>
    </div>
{% endblock content %}
