{% extends "core/base_generic.html" %}
{% block container %}
    <h4>Profile information</h4>
    <dl class="row">
        <dt class="col-sm-3">Username</dt>
        <dd class="col-sm-9">
            {{ user.get_username }}
        </dd>
        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9">
            {{ user.email }}
        </dd>
        <dt class="col-sm-3">Full name</dt>
        <dd class="col-sm-9">
            {{ user.get_full_name }}
        </dd>
        <dt class="col-sm-3">Phone number</dt>
        <dd class="col-sm-9">
            {{ user.phone_number }}
        </dd>
        <dt class="col-sm-3">Department</dt>
        <dd class="col-sm-9">
            {{ user.department }}
        </dd>
        <dt class="col-sm-3">Last login</dt>
        <dd class="col-sm-9">
            {{ user.last_login }}
        </dd>
        <dt class="col-sm-3">Date joined</dt>
        <dd class="col-sm-9">
            {{ user.date_joined }}
        </dd>
    </dl>
    <br>
    <div>
        <h4>Token Authentication</h4>
        <a class="btn btn-link ml-2" href="{% url 'token_authentication' %}">Manage Authentication Tokens</a>
    </div>
    <br>
    <div>
        <h4>Actions</h4>
        <a class="btn btn-secondary" href="{% url 'auth_password_change' %}">Change Password</a>
        <a class="btn btn-secondary ml-2" href="{% url 'auth_logout' %}">Logout</a>
    </div>
{% endblock container %}
