{% extends "mass_transfer/mass_transfer_layout.html" %}
{% load crispy from crispy_forms_tags %}
{% load bootstrap_icon from common_extras %}
{% block title %}
    New Mass Transfer Job
{% endblock title %}
{% block css %}
    {{ block.super }}
    {{ form.media.css }}
    {% include "core/_codemirror_css.html" %}
{% endblock css %}
{% block heading %}
    <c-page-heading title="New Mass Transfer Job">
        <c-slot name="right">
            <a href="{% url 'mass_transfer_job_list' %}" class="btn btn-secondary">
                {% bootstrap_icon "list" %}
                Previous Jobs
            </a>
        </c-slot>
    </c-page-heading>
{% endblock heading %}
{% block content %}
    {% crispy form %}
{% endblock content %}
{% block script %}
    {{ block.super }}
    {{ form.media.js }}
{% endblock script %}
