{% extends "core/base_generic.html" %}

{% block container %}

{% load core_extras %}

<h4 class="card-title">Continuous Transfer Job</h4>

<dl class="row">
    <dt class="col-sm-3">Job ID</dt>
    <dd class="col-sm-9">{{job.id}}</dd>

    <dt class="col-sm-3">Source</dt>
    <dd class="col-sm-9">{{job.source}}</dd>

    <dt class="col-sm-3">Destination</dt>
    <dd class="col-sm-9">{{job.destination}}</dd>

    <dt class="col-sm-3">Created At</dt>
    <dd class="col-sm-9">{{ job.created }}</dd>

    {% if user.is_staff %}
        <dt class="col-sm-3">Created By</dt>
        <dd class="col-sm-9">{{ job.owner }}</dd>
    {% endif %}

    <dt class="col-sm-3">Project Name</dt>
    <dd class="col-sm-9">{{ job.project_name }}</dd>

    <dt class="col-sm-3">Trial Protocol ID</dt>
    <dd class="col-sm-9">{{ job.trial_protocol_id|default:"—" }}</dd>

    <dt class="col-sm-3">Trial Protocol Name</dt>
    <dd class="col-sm-9">{{ job.trial_protocol_name|default:"—" }}</dd>

    <dt class="col-sm-3">Status</dt>
    <dd class="col-sm-9">
        <span class="{{ job.status|transfer_job_status_css_class }}">
            {{ job.get_status_display }}
        </span>
    </dd>

    <dt class="col-sm-3">Message</dt>
    <dd class="col-sm-9">{{ job.message|default:"—" }}</dd>
</dl>

{% endblock container %}