{% extends "main/base_generic.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block script %}
{{ block.super }}
<script src="{% static 'continuous_transfer/continuous_transfer.js' %}"></script>
{% endblock script %}

{% block container %}
<h4>
    Create Continuous Transfer Job
</h4>
<form action="{% url 'continuous_transfer_job_create' %}" method="post">
    {% csrf_token %}
    {% crispy form %}
    {% crispy formset helper %}
    <div class="form-group">
        <input type="submit" name="save" value="Create Job" class="btn btn-primary" id="submit-id-save">
    </div>
</form>
{% endblock container %}
