{% load crispy_forms_tags %}
{% load crispy_forms_field %}
<div>
    {{ formset.management_form|crispy }}
</div>
<table class="table table-sm">
    <caption>Filters</caption>
    <thead>
        <tr>
            {% with form=formset.forms.0 %}
                <th>{{ form.dicom_tag.label|safe }}</th>
                <th>{{ form.filter_type.label|safe }}</th>
                <th>{{ form.filter_value.label|safe }}</th>
                <th class="text-center">
                    <span
                        class="info-hint"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="{{ form.case_sensitive.label }}"
                    >
                        Aa
                    </span>
                </th>
                <th></th>
            {% endwith %}
        </tr>
    </thead>
    <tbody>
        {% for form in formset %}
            <tr>
                <td class="form-group">
                    {{ form.ORDER.as_hidden }}
                    {% crispy_field form.dicom_tag %}
                </td>
                <td class="form_group">
                    {% crispy_field form.filter_type %}
                </td>
                <td class="form-group">
                    {% crispy_field form.filter_value %}
                </td>
                <td class="form-group align-middle text-center">
                    {% crispy_field form.case_sensitive %}
                </td>
                <td class="form-group">
                    <button
                        class="btn btn-danger"
                        type="submit"
                        value="{{ forloop.counter0 }}"
                        name="delete_formset_form"
                        formnovalidate
                    >
                        {% include "continuous_transfer/_delete_icon.html" %}
                    </button>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td /><td /><td /><td />
            <td>
                <button class="btn btn-secondary" type="submit" name="add_formset_form" value="true" formnovalidate>
                    {% include "continuous_transfer/_add_icon.html" %}
                </button>
            </td>
        </tr>
    </tbody>
</table>
