{% load crispy_forms_tags %}
{% load crispy_forms_field %}
<div>
    {{ formset.management_form|crispy }}
</div>
<table class="table table-sm">
    <caption>Filters</caption>
    <thead>
        <tr>
            {% with form=formset.forms.0 %}
                <th>{{ form.dicom_tag.label|safe }}</th>
                <th>{{ form.filter_type.label|safe }}</th>
                <th>{{ form.filter_value.label|safe }}</th>
                <th></th>
            {% endwith %}
        </tr>
    </thead>
    <tbody>
        {% for form in formset %}
            <tr>
                <td class="form-group">
                    {% crispy_field form.dicom_tag %}
                </td>
                <td class="form_group">
                    {% crispy_field form.filter_type %}
                </td>
                <td class="form-group">                        <div class="input-group">
                    {% crispy_field form.filter_value %}
                    <div class="input-group-append btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                            <input type="checkbox" checked />
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-type" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.244 13.081l.943-2.803H6.66l.944 2.803H8.86L5.54 3.75H4.322L1 13.081h1.244zm2.7-7.923L6.34 9.314H3.51l1.4-4.156h.034zm9.146 7.027h.035v.896h1.128V8.125c0-1.51-1.114-2.345-2.646-2.345-1.736 0-2.59.916-2.666 2.174h1.108c.068-.718.595-1.19 1.517-1.19.971 0 1.518.52 1.518 1.464v.731H12.19c-1.647.007-2.522.8-2.522 2.058 0 1.319.957 2.18 2.345 2.18 1.06 0 1.716-.43 2.078-1.011zm-1.763.035c-.752 0-1.456-.397-1.456-1.244 0-.65.424-1.115 1.408-1.115h1.805v.834c0 .896-.752 1.525-1.757 1.525z"/>
                            </svg>
                        </label>
                    </div>
                </td>
                <td class="form-group">
                    <button class="btn btn-danger" type="submit" value="{{ forloop.counter0 }}" name="delete_filter" formnovalidate>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                    </button>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td /><td /><td />
            <td>
                <button class="btn btn-secondary" type="submit" name="add_filter" value="true" formnovalidate>
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                </button>
            </td>
        </tr>
    </tbody>
</table>
