{% extends "registration/registration_base.html" %}
{% load trans blocktrans from i18n %}
{% load crispy from crispy_forms_tags %}
{% block title %}
    {% trans "RADIS - Reset password" %}
{% endblock title %}
{% block heading %}
    <h4>{% trans "Forgot your password?" %}</h4>
{% endblock heading %}
{% block content %}
    <p>
        {% blocktrans %}
            Enter your email in the form below and we'll send you instructions for creating a new one.
        {% endblocktrans %}
    </p>
    <form method="post" action="">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-primary"
               type="submit"
               value="{% trans 'Reset password' %}" />
    </form>
{% endblock content %}
{# This is used by django.contrib.auth #}
