<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/vendor/css/bootstrap.min.css' %}">
    <script src="{% static 'main/vendor/js/jquery.min.js' %}"></script>
    <script src="{% static 'main/vendor/js/bootstrap.bundle.min.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <div class="container">
        {% include 'main/navbar.html' %}
        <div class="row">
            <div class="col-sm">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
  </body>
</html>