{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'main/vendor/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
    <script src="{% static 'main/vendor/js/jquery.min.js' %}"></script>
    <script src="{% static 'main/vendor/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'main/js/main.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    {% include 'main/navbar.html' %}
    <main role="role">
        {% block content %}{% endblock %}
    </main>

    {% if messages %}
        {% include 'main/messages_panel.html' %}
    {% endif %}

    {% block bottom %}{% endblock %}
  </body>
</html>