{% extends "main/base_generic.html" %}

{% block content %}
    <div class="top container">
        <h5>All jobs</h5>
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th scope="col">Job ID</th>
                    <th scope="col">Type</th>
                    <th scope="col">Status</th>
                    <th scope="col">Source</th>
                    <th scope="col">Destination</th>
                </tr>
            </thead>
            <tbody>
                {% for job in jobs %}
                    <tr>
                        <th scope="row">
                            <a href="{{job.url}}">{{ job.id }}</a>
                        </th>
                        <td>{{ job.get_job_type_display }}</td>
                        <td>{{ job.get_status_display }}</td>
                        <td>{{ job.source }}</td>
                        <td>{{ job.destination }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% include 'main/pagination.html' %}
    </div>
{% endblock %}