{% extends "main/base_generic.html" %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">Welcome to ADIT!</h1>
            <p class="lead">
                ADIT (Automatic DICOM Transfer) allows to transfer
                DICOM data between different servers or download the files
                (optionally into an encrypted archive) to a network folder.
            </p>
            <p class="lead">
                "Batch transfer" can be used to transfer or download multiple
                studies of different patients using an Excel sheet with
                defined studies.
            </p>
            <p class="lead">
                "Batch transfer" can be used to transfer or download multiple
                studies of different patients using an Excel sheet with
                defined studies.
            </p>


            {% if not user.is_authenticated %}
                <p>
                    <a class="btn btn-primary btn-lg" href="{% url 'auth_login' %}" role="button">Log in</a>
                </p>
                <p>
                    No account yet?
                    <a href="{% url 'registration_register' %}">Register</a>
                </p>
                
            {% endif %}
        </div>
    </div>
{% endblock %}