{% extends "main/base_generic.html" %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">Welcome to ADIT!</h1>
            <p class="lead">
                ADIT (Automatic DICOM Transfer) allows to transfer
                DICOM data between different servers or export the files
                in an encrypted archive to a network drive.
            </p>

            {% if not user.is_authenticated %}
                <p>
                    <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Log in</a>
                </p>
                <p>
                    No account yet?
                    <a href="{% url 'registration' %}">Register</a>
                </p>
                
            {% endif %}
        </div>
    </div>
{% endblock %}