<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">ADIT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% with request.resolver_match.url_name as url_name %}
                {% for item in nav_menu_items %}
                    <li class="nav-item {% if url_name == item.name %} active {% endif %}">
                        <a class="nav-link" href="{% url item.url_name %}">
                            {{ item.label }}
                            {% if url_name == item.url_name %}
                                <span class="sr-only">(current)</span>
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
                <li class="nav-item {% if url_name == 'transfer-job-list' %} active {% endif %}">
                    <a class="nav-link" href="{% url 'transfer-job-list' %}">
                        Jobs
                        {% if url_name == 'transfer-job-list' %}
                            <span class="sr-only">(current)</span>
                        {% endif %}
                    </a>
                </li>
            {% endwith %}
        </ul>
    </div>
</nav>