<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">ADIT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% for item in nav_menu_items %}
                {% with request.resolver_match.url_name as url_name %}
                    <li class="nav-item {% if url_name == item.name %} active {% endif %}">
                        <a class="nav-link" href="{{ item.url }}">
                            {{ item.label }}
                            {% if url_name == item.name %}
                                <span class="sr-only">(current)</span>
                            {% endif %}
                        </a>
                    </li>
                {% endwith %}
            {% endfor %}
        </ul>
    </div>
</nav>