{% load bootstrap_icon from common_extras %}
<svg class="d-none">
    <symbol id="info">
    {% bootstrap_icon "info-circle" 24 %}
    </symbol>
    <symbol id="success">
    {% bootstrap_icon "check-circle-fill" 24 %}
    </symbol>
    <symbol id="warning">
    {% bootstrap_icon "exclamation-triangle-fill" 24 %}
    </symbol>
    <symbol id="error">
    {% bootstrap_icon "exclamation-octagon-fill" 24 %}
    </symbol>
    <symbol id="bug">
    {% bootstrap_icon "bug-fill" 24 %}
    </symbol>
</svg>
