<ul class="navbar-nav me-auto">
    {% for item in main_menu_items %}
        {% url item.url_name as item_url %}
        <li class="nav-item">
            <a class="nav-link{% if request.path == item_url %} active{% endif %}"
               href="{{ item_url }}">
                <div>{{ item.label }}</div>
                {% if url_name == item.url_name %}<span class="visually-hidden">(current)</span>{% endif %}
            </a>
        </li>
    {% endfor %}
    {% if user.is_staff %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_section' %}">Admin Section</a>
        </li>
    {% endif %}
</ul>
