{% load django_tables2 %}
{% load i18n %}
{% if page_obj.has_other_pages %}
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="previous page-item">
                <a href="{% querystring 'page'=page_obj.previous_page_number %}"
                   class="page-link">
                    <span aria-hidden="true">«</span>
                    {% trans 'previous' %}
                </a>
            </li>
        {% endif %}
        {% if page_obj.has_previous or page_obj.has_next %}
            {% for p in page_obj|table_page_range:page_obj.paginator %}
                <li class="page-item{% if page_obj.number == p %} active{% endif %}">
                    <a class="page-link"
                       {% if p != '...' %}href="{% querystring 'page'=p %}"{% endif %}>{{ p }}</a>
                </li>
            {% endfor %}
        {% endif %}
        {% if page_obj.has_next %}
            <li class="next page-item">
                <a href="{% querystring 'page'=page_obj.next_page_number %}"
                   class="page-link">
                    {% trans 'next' %}
                    <span aria-hidden="true">»</span>
                </a>
            </li>
        {% endif %}
    </ul>
{% endif %}
