{# Toasts are added by the client (using Javascript, see common.js) #}
<div class="toasts-panel toast-container"
     x-data="ToastsPanel()"
     @common:add-toast.window="addToast($event)">
    <template x-for="toast in toasts" :key="toast.id">
        <div x-init="showToast($el)"
             :class="{[toast.level]: true}"
             class="toast"
             role="alert"
             aria-live="assertive"
             aria-atomic="true">
            <div class="toast-header">
                <svg class="bd-placeholder-img rounded me-2"
                     width="20"
                     height="20"
                     preserveAspectRatio="xMidYMid slice"
                     focusable="false"
                     role="img">
                    <rect width="100%" height="100%" fill="#007aff"></rect>
                </svg>
                <strong x-text="toast.title" class="me-auto"></strong>
                <small class="text-muted">just now</small>
                <button type="button"
                        class="ms-2 mb-1 btn-close"
                        data-bs-dismiss="toast"
                        aria-label="Close"></button>
            </div>
            <div x-text="toast.text" class="toast-body"></div>
        </div>
    </template>
</div>
