{% extends "core/core_layout.html" %}
{% block content %}
    <div class="card text-bg-light mb-3">
        <div class="card-header">403</div>
        <div class="card-body">
            <h5 class="card-title">Permission Denied</h5>
            <p class="card-text">
                You are not allowed to access this page. If you need some permission contact the
                <a href="mailto:{{ support_email }}">RADIS Support</a>.
            </p>
        </div>
    </div>
{% endblock content %}
