{% extends "core/core_layout.html" %}
{% block content %}
    <div class="card text-bg-light mb-3">
        <div class="card-header">500</div>
        <div class="card-body">
            <h5 class="card-title">Server Error</h5>
            <p class="card-text">
                An unexpected server error occurred. Please try again later and if
                the problem persists contact the
                <a href="mailto:{{ support_email }}">RADIS Support</a>.
            </p>
        </div>
    </div>
{% endblock content %}
