name: Run Continuous Integration
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  ci:
    strategy:
      fail-fast: false
    runs-on: "ubuntu-latest"
    timeout-minutes: 15
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.9"
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"
      - name: Install dependencies
        run: uv sync
      - name: Configure environment
        run: uv run cli init-workspace
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and cache Docker images
        uses: docker/build-push-action@v6
        with:
          context: .
          target: development
          load: true
          tags: adit_dev:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Start Docker containers
        run: uv run cli compose-up -- --detach --no-build
      - name: Run linting
        # https://github.com/actions/runner/issues/241#issuecomment-745902718
        shell: 'script -q -e -c "bash {0}"'
        run: uv run cli lint
      - name: Run tests
        shell: 'script -q -e -c "bash {0}"'
        run: uv run cli test -- --cov
      - name: Stop Docker containers
        if: ${{ always() }}
        run: uv run cli compose-down
