name: Deploy MkDocs
on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "pip"

      - run: pip install mkdocs-material>=9.7.0 mkdocs-minify-plugin>=0.8.0

      - run: mkdocs gh-deploy --force
