name: Build and Publish Client to PyPI
on:
  release:
    types: [published]
jobs:
  build-and-publish-client:
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/adit-client
    permissions:
      id-token: write
    defaults:
      run:
        working-directory: adit-client
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.2"
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"
      - name: Build wheel and sdist
        run: uv build
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: adit-client/dist/
