/* For alpinejs */
[x-cloak] {
    display: none;
}

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
}

/* Move the top container even a bit more away from the navbar */
.top.container {
    margin-top: 1.5rem;
}

/* Floating panel for Django messages framework */
.messages-panel-outer {
    position: absolute;
    left: 50%;
    z-index: 10000;
    bottom: 0.5rem;
}
.messages-panel-inner {
    position: relative;
    left: -50%;
    min-width: 500px;
}

/* Nice sort indicators in the django-table2 tables */
table.table thead th.asc.orderable {
    background: url('\
        data:image/svg+xml;utf8,\
        <svg class="bi bi-caret-up-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">\
            <path d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>\
        </svg>\
    ')
        no-repeat;
    background-position: right 0.75rem center;
}
table.table thead th.desc.orderable {
    background: url('\
        data:image/svg+xml;utf8,\
        <svg class="bi bi-caret-down-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">\
            <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>\
        </svg>\
    ')
        no-repeat;
    background-position: right 0.75rem center;
}

/* Make the sort indicator fit for small columns */
table.table thead th.orderable {
    min-width: 75px;
}

/* Align job ids to the right inside the column */
table.table tbody td.job-id {
    text-align: right;
}
