/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
}

/* Move main container even a bit more away from the navbar */
.top.container {
    margin-top: 1.5rem;
}

/* Floating panel for Django messages framework */
.messages-panel {
    position: absolute;
    z-index: 2000;
    top: 4rem;
    right: 0.5rem;
    width: 500px;
}

/* Style the help links in the headers */
.header-help-link {
    font-size: 1rem;
    border-bottom: 2px dotted;
}